body {
    background-image: url('Crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 15%;
    z-index: 1;
}

.title {
    z-index: 2;
    font-size: 48px;
    background: linear-gradient(to right, #0047ab, #c9c9c9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.musicbutton {
    z-index: 101;
    background-color: linear-gradient(to right, #0047ab, #c9c9c9);
    Background: linear-gradient(to right, #0047ab, #c9c9c9);
    color: #000000;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    border-radius: 10px;
    Font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s, box-shadow 0.3s;
}
.my-button:hover {
    background-color: #0F4C81;
  }

.container1 {
    z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center top;
	height: 50px;
	background-color: linear-gradient(to right, #0047ab, #c9c9c9);
    background: #000000;
}

.button-home {
    display: flex;
	justify-content: center;
	align-items: center top;
	height: 40px;
	background-color: linear-gradient(to right, #0047ab, #c9c9c9);
    background: #000000;
}

.button {
    z-index: 101;
	margin: 0 10px;
	padding: 10px 20px;
	background-color: #0047ab;
	color: #ffffff;
	border: solid;
	border-radius: 5px;
    border-color: #ffffff;
	font-size: 16px;
	cursor: pointer;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.button:hover {
    opacity: 0.8;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container2 {
    position: absolute;
    top: 10%;
    left: 5%;
}

.bg-blue {
    z-index: 110;
    background-color: #0047ab;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  /* beginning of bubbles */
.container {
    opacity: 1;
    width: 1200px;
    height: 600px;
    z-index: 100;
    position: absolute;
    top: 0px;
    right: -800px;
    overflow: hidden;
}

.bubble {
    position: absolute;
    top: 66px;
    left: 120%;
    width: 600px;
    height: 100%;
    margin-left: -960px;
    z-index: 1;
    transform: rotateY(180deg);
    pointer-events: none;
  }
  
  .bubble i {
    position: absolute;
    top: 0;
    opacity: 0;
  }
  
  .bubble1, .bubble2, .bubble3, .bubble4, .bubble5, .bubble6, .bubble7, .bubble8, .bubble9, .bubble10 {
    width: 100px;
    height: 100px;
    background: url(../WebPage/bubbles1.png) no-repeat;
    position: absolute;
    animation: float 8s ease-in-out infinite;
  }
  
  .bubble1 {
    left: 18%;
    animation: float 8s ease-in-out infinite;
    animation-delay: 1s;
  }
  
  .bubble2 {
    left: 28%;
    animation: float 9s ease-in-out infinite;
    animation-delay: 2s;
  }
  
  .bubble3 {
    left: 39%;
    animation: float 10s ease-in-out infinite;
    animation-delay: 3s;
  }
  
  .bubble4 {
    left: 55%;
    animation: float 8s ease-in-out infinite;
    animation-delay: 4s;
  }
  
  .bubble5 {
    left: 70%;
    width: 200px;
    height: 200px;
    animation: float 16s -6s infinite linear;
    animation-delay: 6s;
  }
  
  .bubble6 {
    left: 82%;
    width: 150px;
    height: 150px;
    animation: float 20s -5s infinite linear;
  }
  
  .bubble7 {
    left: 90%;
    -webkit-animation-delay: 1s;
    animation-delay: 8s;
  }
  
  .bubble8 {
    left: 40%;
    -webkit-animation-delay: 4s;
    animation-delay: 9s;
  }
  
  .bubble9 {
    left: 20%;
    -webkit-animation-delay: 3s;
    animation-delay: .5s;
  }
  
  .bubble10 {
    left: 58%;
    -webkit-animation-delay: 2s;
    animation-delay: 1s;
  }

  @keyframes float {
    0% {
      transform: translateY(-100%) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }