<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Pokeball</title>
    <style>
        body {
            background: linear-gradient(to right, #2C4E72, #541b21)
        }

        header {
            background-color: #6d544e;
            color: #fff;
            padding: 20px;
            font-family: 'Helvetica', sans-serif;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        nav li {
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

        main {
            max-width: 500px;
            margin-top: 21px;
            margin-left: 500px;
            text-align: center;
        }

        h1 {
            font-family: 'Pacifico', cursive;
            font-size: 48px;
            color: #6d544e;
            margin-bottom: 30px;
        }

        form {
            background: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border: solid 5px;
            border-color: black;
            color: #000;
        }

        tbody {
            color: #000;
            background: white;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_starters' %}">My starters</a>
                </li>
                <li>
                    <a href="{% url 'list_pokeballs' %}">My pokeballs</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create a new pokeball</h1>
            <form method="post">
                {% csrf_token %}
                <div style="margin-bottom: 10px;">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div style="margin-bottom: 10px;">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div style="margin-bottom: 10px;">
                    <label for="owner">Owner:</label>
                    <select id="owner" name="owner" required>
                        <option value="" disabled selected>---------</option>
                        {% for user in users %}<option value="{{ user.id }}">{{ user.username }}</option>{% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>