<!DOCTYPE html>
<html>

<head>
    <title>Pokeball Name</title>
    <style>
        body {
            background: linear-gradient(to right, #2C4E72, #541b21)
        }

        header {
            background-color: #6d544e;
            color: #fff;
            padding: 20px;
            font-family: 'Helvetica', sans-serif;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        nav li {
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

        main {
            background: #fff;
            max-width: 500px;
            margin-top: 21px;
            margin-left: 500px;
            text-align: center;
            border: solid 5px;
            border-color: #000;
            color: #000;
        }

        h1 {
            font-family: 'Pacifico', cursive;
            font-size: 48px;
            color: #6d544e;
            margin-bottom: 30px;
        }

        form {
            background: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border: solid 5px;
            border-color: black;
            color: #000;
        }

        tbody {
            color: #000;
            background: white;
        }

    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_starters' %}">My starters</a>
                </li>
                <li>
                    <a href="{% url 'list_pokeballs' %}">My pokeballs</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ pokeball.name }}</h1>
            <p>{{ pokeball.description }}</p>
            <h2>Starters</h2>
            <p>
                <a href="{% url 'create_starter' %}">Create a new starter</a>
            </p>
            {% if starters %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for starter in starters %}
                    <tr>
                        <td>{{ starter.name }}</td>
                        <td>{{ starter.assignee }}</td>
                        <td>{{ starter.start_date }}</td>
                        <td>{{ starter.due_date }}</td>
                        <td>{{ starter.is_completed|yesno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>This pokeball has no starters</p>
            {% endif %}
        </div>
    </main>
</body>

</html>