<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <style>
        body {
            background: linear-gradient(to right, #2C4E72, #541b21)
        }

        header {
            background-color: #6d544e;
            color: #fff;
            padding: 20px;
            font-family: 'Helvetica', sans-serif;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        nav li {
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        main {
            max-width: 500px;
            margin: 0 auto;
            text-align: center;
        }

        h1 {
            font-family: 'Pacifico', cursive;
            font-size: 48px;
            color: #6d544e;
            margin-bottom: 30px;
        }

        form {
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            border: solid 5px;
            border-color: black;
        }

        button {
            background-color: #6d544e;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:hover {
            background-color: #fff;
            color: #6d544e;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: None;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

        .p1 {
            color: white;
            position: absolute;
            bottom: 1%;
        }
    </style>

</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'show_my_starters' %}">My starters</a>
                </li>
                <li>
                    <a href="{% url 'list_pokeballs' %}">My pokeballs</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
</body>
<p class="p1">© Copyright 2023, My Project Management app</p>

</html>